parameters:
    level: 7
    checkMissingIterableValueType: false
    magento:
        checkServiceContracts: false
    fileExtensions:
        - php
    paths:
        - Api
        - Block
        - Console
        - Handler
        - Model
        - Observer
        - Test
    ignoreErrors:
        -
            message: '~is never read, only written~'
            path: Handler/MediaFileHandler.php
        -
            message: '~Left side of && is always true~'
            path: Observer/FuzzyfyrObserver.php
