<?xml version="1.0"?>
<!--
/**
 * This file is part of the Content Fuzzyfyr module for Magento2.
 *
 * (c) bitExpert AG
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="AllInDataContentFuzzyfyrCommand" xsi:type="object">HiveCommerce\ContentFuzzyfyr\Console\Command\FuzzyfyrCommand</item>
                <item name="AllInDataContentExportCommand" xsi:type="object">HiveCommerce\ContentFuzzyfyr\Console\Command\ExportCommand</item>
            </argument>
        </arguments>
    </type>

</config>
