<?xml version="1.0"?>
<!--
/**
 * This file is part of the Content Fuzzyfyr module for Magento2.
 *
 * (c) bitExpert AG
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="HiveCommerce_ContentFuzzyfyr" setup_version="1.7.0">
        <sequence>
            <module name="Magento_Backup"/>
            <module name="Magento_Catalog"/>
            <module name="Magento_Cms"/>
            <module name="Magento_Customer"/>
            <module name="Magento_Quote"/>
            <module name="Magento_Sales"/>
            <module name="Magento_User"/>
        </sequence>
    </module>
</config>
