<?xml version="1.0"?>
<!--
/**
 * This file is part of the Content Fuzzyfyr module for Magento2.
 *
 * (c) All.In Data GmbH
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <preference for="Magento\Backup\Block\Adminhtml\Backup"
                type="AllInData\ContentFuzzyfyr\Block\Adminhtml\Backup"/>

    <preference for="Magento\Framework\Backup\Factory"
                type="AllInData\ContentFuzzyfyr\Model\Backup\Factory"/>

</config>
